<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>ASE-B Hall Booking</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body bgcolor="darkslateblue">
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo">ASE-B Hall Booking</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li>
          <a href="index">logout</a>
        </li>
      </ul>
    </div>
  </nav>


  <div class="row">
    <div class="col s12 m6 l6 offset-l3 offset-m3">
      <div class="card">



        <div class="container">
          <div class="row"></div>
          <div class="row"></div>
          <div class="row"></div>
          <div class="row">

            <div class="row">
              <h3 class="center">Dean's
                <br>Pending Request List</h3>

            </div>

            <ul class="collection">

              <li class="collection-item avatar">
                <p>
                  <table class="table"></table>

                  <input type="hidden" value="<%= res.length %>" name="len">
                  <% for(var i=0; i<res.length; i++) {%>
                    <div class="row">
                      <i class="material-icons circle blue">menu</i>

                      <tr>
                        <td> Request ID :
                          <%= res[i].rid  %>
                        </td>
                        <br>
                        <td> Request By :
                          <%= res[i].Fname %>
                        </td>
                        <td>
                          <%= res[i].Lname  %>
                        </td>
                        <br>
                        <td> Club Name :
                          <%= res[i].ClubName  %>
                        </td>
                        <br>
                        <td> Faculty/Mentor Name :
                          <%= res[i].FacultyOrMentorName  %>
                        </td>
                        <br>
                        <td> Secretary Name :
                          <%= res[i].ClubSecName  %>
                        </td>
                        <br>
                        <td> Dhara Wing :
                          <%= res[i].Wing  %>
                        </td>
                        <br>
                        <td> Hall Name :
                          <%= res[i].Hname  %>
                        </td>
                        <br>
                        <td> Event Date :
                          <%= res[i].EventDate  %>
                        </td>
                        <br>
                        <td> From Time :
                          <%= res[i].FromTime  %>
                        </td>
                        <br>
                        <td> To Time :
                          <%= res[i].ToTime  %>
                        </td>
                        <br>
                        <td> Event Name :
                          <%= res[i].EventName  %>
                        </td>
                        <!--  <form action="/grantPermission" method="post">
                        <br>
                            <input name="ap<%=res[i].rid%>" type="radio" id="<%=res[i].rid%>Approved" value="1" />
                            <label for="<%=res[i].rid%>Approved">Approved</label>
                            <br> 
                            <input name="ap<%=res[i].rid%>" type="radio" id="<%=res[i].rid%>Rejected" value="2" />
                            <label for="<%=res[i].rid%>Rejected">Rejected</label>    
                        <br> 
                        <!--button class="btn waves-effect waves-light" type="submit">Done
                          <i class="material-icons right">send</i>
                        </button>
                        </form>-->

                        <form action="/grantPermission" method="post">
                          <div class="row">
                            <div class="input-field col s12">
                              <select name="status">
                                <option id="Pending" value="Pending">Pending</option>
                                <option id="Approved" value="Approved">Approved</option>
                                <option id="Rejected" value="Rejected">Rejected</option>
                              </select>

                              <label>Request Status</label>
                            </div>
                            <button class="btn waves-effect waves-light" type="submit">Done
                              <i class="material-icons right">send</i>
                            </button>

                          </div>
                        </form>

                      </tr>
                    </div>
                    <% } %>

                      <a href="" <button class="btn waves-effect waves-light" type="submit" href="#">Done
                        <i class="material-icons right">send</i>
                        </button>
                      </a>


                      </table>
                      <div class="row"></div>
                      <div class="row">
                        <input class="btn waves-effect waves-light" action="action" onclick="window.history.go(-1); return false;" type="button"
                          value="Back" />
                      </div>

                </p>

              </li>

            </ul>



          </div>



          <!--  Scripts-->
          <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
          <script src="js/materialize.js"></script>
          <script src="js/init.js"></script>
          <script>
            $(document).ready(function () {
              $('select').material_select();
            });

          </script>
          <script>
            $('.datepicker').pickadate({
              selectMonths: true, // Creates a dropdown to control month
              selectYears: 15, // Creates a dropdown of 15 years to control year,
              today: 'Today',
              clear: 'Clear',
              close: 'Ok',
              closeOnSelect: false // Close upon selecting a date,
            }); 
          </script>
          <script>
            $('.timepicker').pickatime({
              default: 'now', // Set default time: 'now', '1:30AM', '16:30'
              fromnow: 0,       // set default time to * milliseconds from now (using with default = 'now')
              twelvehour: false, // Use AM/PM or 24-hour format
              donetext: 'OK', // text for done-button
              cleartext: 'Clear', // text for clear-button
              canceltext: 'Cancel', // Text for cancel-button
              autoclose: false, // automatic close timepicker
              ampmclickable: true, // make AM PM clickable
              aftershow: function () { } //Function for after opening timepicker
            });
          </script>
</body>

</html>