<!-- <form action="/grantPermission" method="post">
	<br />
	<input
		name="ap<%=res[i].rid%>"
		type="radio"
		id="<%=res[i].rid%>Approved"
		value="1"
	/>
	<label for="<%=res[i].rid%>Approved">Approved</label>
	<br />
	<input
		name="ap<%=res[i].rid%>"
		type="radio"
		id="<%=res[i].rid%>Rejected"
		value="2"
	/>
	<label for="<%=res[i].rid%>Rejected">Rejected</label>
	<br />
	<button class="btn waves-effect waves-light" type="submit">
		Done
		<i class="material-icons right">send</i>
	</button>
</form> -->

<form action="/grantPermission" method="post">
	<div class="row">
		<div class="input-field col s12">
			<select name="status">
				<option id="Pending" value="Pending">Pending</option>
				<option id="Approved" value="Approved">Approved</option>
				<option id="Rejected" value="Rejected">Rejected</option>
			</select>

			<label>Request Status</label>
		</div>
		<button class="btn waves-effect waves-light" type="submit">
			Done
			<i class="material-icons right">send</i>
		</button>
	</div>
</form>
