<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Teacher Dashboard | AHMS</title>
		<link
			href="https://fonts.googleapis.com/icon?family=Material+Icons"
			rel="stylesheet"
		/>
		<link
			href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
			type="text/css"
			rel="stylesheet"
			media="screen,projection"
		/>
		<link
			href="css/style.css"
			type="text/css"
			rel="stylesheet"
			media="screen,projection"
		/>
		<style>
			table,
			th,
			td {
				border: 1px solid black;
			}
			td.random {
				background-color: red;
			}
		</style>
	</head>

	<body style="background-color: darkslateblue;">
		<nav class="dark" role="navigation">
			<div class="nav-wrapper container">
				<a id="logo-container" href="/" class="brand-logo"
					>ASE-B Hall Booking</a
				>
				<button
					style="margin-left: 50%; margin-top: 2%; margin-bottom: 2%;background-color: #35377c"
					class="btn waves-effect waves-light"
					onclick="location.href = '/request'"
				>
					Request Form
				</button>
				&nbsp;
				<button
					style="margin-left: 10%;margin-top: 2%;margin-bottom: 2%;background-color: #35377c;"
					class="btn waves-effect waves-light"
					onclick="location.href = '/logout'"
				>
					Logout
				</button>
			</div>
		</nav>
		<div>
			<b>
				<i
					style="padding-left: 15%"
					class="medium small material-icons prefix "
					>account_box</i
				>
				<span style="color:white;font-size: 30px"
					>Welcome <%= res.firstName %> <%= res.lastName %>!
				</span></b
			>
		</div>
		<br />
		<div class="row">
			<% for(var i=(bookingData.length-1); i>=0; i--) {%>
			<div class="col s12 m6 l3">
				<div class="card green darken-3">
					<div class="card-content white-text">
						<span class="card-title"
							><%= eventsData[i].title %></span
						>
						<div>
							<b>Booking ID: <%= bookingData[i].id %></b>
							<br />
							<b>Date requested:</b> <%=
							bookingData[i].dateRequested %>
							<br />
							<b>Club:</b> <%= eventsData[i].club %>
							<br />
							<b>Status:</b> <%= bookingData[i].status %>
						</div>
					</div>
					<div class="card-action">
						<a
							class="waves-effect waves-light btn modal-trigger"
							href="#<%= bookingData[i].id %>"
							>Details</a
						>
					</div>
				</div>
				<div id="<%= bookingData[i].id %>" class="modal">
					<div class="modal-content">
						<b>Booking ID: <%= bookingData[i].id %></b>
						<br />
						<b>User ID:</b> <%= bookingData[i].userID %>
						<br />
						<b>Date requested:</b> <%= bookingData[i].dateRequested
						%>
						<br />
						<b>Date wanted:</b> <%= eventsData[i].dateWanted %>
						<br />
						<b>Title:</b> <%= eventsData[i].title %>
						<br />
						<b>Club:</b> <%= eventsData[i].club %>
						<br />
						<b>Requirements:</b> <%= eventsData[i].requirements %>
						<br />
						<b>Details:</b> <%= eventsData[i].details %>
						<br />
						<b>Status:</b> <%= bookingData[i].status %>
					</div>
					<div class="modal-footer">
						<form
							action="/requestUpdate"
							method="post"
							id="requestUpdate<%= bookingData[i].id %>"
						>
							<input type="hidden" name="bookingID" value=<%=
							bookingData[i].id %>>
							<input type="hidden" name="eventID" value=<%=
							eventsData[i].id %>>
						</form>
						<a
							id="edit<%= bookingData[i].id %>"
							name="editBooking"
							onclick="editBooking($(this))"
							class="modal-close waves-effect waves-green btn-flat"
							>Edit</a
						>
						<a
							id="delete<%= bookingData[i].id %>"
							name="deleteBooking"
							class="modal-close waves-effect waves-green btn-flat"
							>Delete</a
						>
						<a class="modal-close waves-effect waves-green btn-flat"
							>Close</a
						>
					</div>
				</div>
			</div>
			<% } %>
		</div>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
		<script src="js/init.js"></script>
		<script>
			$(document).ready(function() {
				$(".modal").modal();
			});
			function editBooking(params) {
				$("#requestUpdate" + params[0].id.replace("edit", "")).submit();
			}
			$('[name="deleteBooking"]').click(function() {
				var payload = {
					bookingID: $(this)
						.attr("id")
						.replace("delete", "")
				};
				fetch("/deleteBooking", {
					method: "POST",
					body: new URLSearchParams($.param(payload))
				})
					.then(function(response) {
						if (response.status !== 200) {
							alert(
								"Looks like there was a problem. Status Code: " +
									response.status
							);
							return;
						}
						response.json().then(function(data) {
							if (data.affectedRows == 1) {
								location.reload();
							} else {
								alert(data);
								location.reload();
							}
						});
					})
					.catch(function(err) {
						alert("Submit Error :-S", err);
					});
			});
		</script>
	</body>
</html>
